<html>
    <head>
        <title>Welcome!</title>
    </head>
    <body>
        <h1>MTAze App</h1>
        <p>Have an account? Sign in!</p>
        <div class='login'>
            <form method="post" action="/login">
                <label for="username">Username</label>
                <input type="text" name="username" value="">
                <label for="password">Password</label>
                <input type="password" name="password" value="">
                <input type="submit" value="Submit">
            </form>
         </div>
         <a href="/signup">Sign Up Here!</a>
         
    </body>
</html>

