<html>
    <head>
        <title>Welcome!</title>
    </head>
    <body>
        <form action="/signup" method="POST" style="border:1px solid #ccc">
                <div class="container">
                    <h1>Sign Up</h1>
                    <p>Please fill in this form to create an account.</p>
                    <label for="username"><b>Email</b></label>
                    <input type="text" placeholder="Enter Username" name="username" required>
                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>
                     <!--<label for="password"><b>Repeat Password</b></label>
                     <input type="password" placeholder="Repeat Password" name="password" required>-->
                     <!--<label>
                        <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
                    </label>-->
                     <button type="submit">Sign up</button>
                </div>
         </form>
    </body>
</html>
          